<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Tindogs</title>

	<meta name="robots" content="index, follow">
	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</head>
<body>

	<header>
		<h1> T I N D O G S </h1>
		<nav style="background-color: peachpuff">
			<div class="container">
				<div class="col-sm-4 link">The App</div>
				<div class="col-sm-4 link">Our Team</div>
				<div class="col-sm-4 link">Code of Ethics</div>
			</div>
		</nav>
	</header>

	<div class="cover_image"></div>
	<div class="slogan"> Taking dog breeding to a new era. </div>

	<main>
		<section id="theapp">
			<div class="container">
				<div class="row">

					<div class="thumb col-sm-4">
						<div class="inner">
							<h2>What Is It?</h2>
							<p>Tindogs is a social platform used for dogs owners that are looking to breed, there are a wide range breeds that you can choose from in order for you find the most suitable partner for your dog.</p>
						</div>
					</div>

					<div class="thumb col-sm-4">
						<div class="inner">
							<h2>How to Get Started</h2>
							<p>To register your dog, there's a <b>4-step verification</b> process:</p>
							<ul>
								<li>Search for your dog's breed category</li>
								<li>Take a photo of your dog (from every angle!) for us to verify his/her breed</li>
								<li>Upload birth documents of your dog and documents of any medical history from your local vet service</li>
								<li>Write a brief description of your dog - day-to-day activities, how they were raised and/or trained, how many meals (roughly) your dog eats a day, etc.</li>
							</ul>
						</div>
					</div>

					<div class="thumb col-sm-4">
						<div class="inner">
							<h2>Go Premium</h2>
							<p>infooooo</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section id="ourteam">
			<div class="container">
				<div class="row">
					<h2> OUR TEAM </h2>
					<div class="inner-container">
						<div class="thumb col-sm-4">
							<div class="inner">
								<div class="img-container">
									<div class="img" style="background-image: url(https://lh3.googleusercontent.com/s9gAp5XcDRJeM1NRY_od1uZd2cTmrEqepMnXswT34NKxbw0bSnXjIjJOzwd6PU9M0MUQ6ECs0r9Xeg9-grONJ5OrWSBfksvYZ6ngBN0oFet9_uvasen_6djJEa9dy_E-dxB2dmSBOiJvlYqqDhxiM-CIZ9O8kv8D5VLTuduQptGmCdxvbzPtiiwpx8arpxjYzngdM7LMCQQca2aBItU94YDvFXvp8bx0gQxH49B9UXsC5ZXSnhfYUfh9RrMNsDDYUHsxdoiqkZ-sm85RPLJIsuH2XblpuXWLwjIs4MACiOW0gucJJVMibyQ1GW7HQlwhB1p7WtCEPBXoenv8J7vXaX2FafZMyM9Mz-lSH1y4JGp5-PmvmVpXhjIYHQb3nbWSVQGgHhJKdyfBfqOJ4bWI775vin6OSFSa5Jvbx5Dm7HTX8--FFUvmxCtMYT84yidsTZdicaeJNUnGwYdj2PZ8ykSmZIe-_erktadQ4RFcshdKXFVwz_hc0uKSIifJEN6_gvEN6dcKo90LuR32srOWFFa6wU1NHeQCirPW03cMkB-jTBBtEenonIVrRt0bl4BTUpTE5PGkhy0wOGTY3wrTQ5yPBUHK1P2fpzcgkrKYv9sTqpW99SJtCdS2VlyOv40e00buNQrOBPqOUD6rDjgbQhl1pFI3wneQz2s4Z2zsrPt9wKqOAYFA=w659-h657-no)"></div>
								</div>
								<div class="bio">
									BIO
								</div>
							</div>
						</div>

						<div class="thumb col-sm-4">
							<div class="inner">
								<div class="img-container">
									<div class="img" style="background-image: url(https://lh3.googleusercontent.com/bUnKBsiLXKEb3P7jNF5IyBH4sgOPvpCPdyMbBgb0IkPJytC4sjv3QEIJ_nBf4xl9FNCgU0Bt5FgXI5zQQS-kOf73VMrWI8icsd43lnYPRTJ0Kza5VZdLpEf398yi_D5FSMYI33ypXGMSrsgRb15wk1wY-Z3cSiM19xLn6D5zt0b1GhxQtZnPnqlZVxpsBkIulVks72yi_2HBaWf2e4y_3WNiLKgNzTap2Mf8_Rz5bKbrB3excNX1vDhRprSakUApDvRM55Bd2rlxuHAIDAXaJjmdwjUZJ_rX4CkjLx3TY6iWb2x5fe1OLDk5V1HtZ-TLAEdhknOonCbuGOF7XXzXM-8ltrSZaSOLT0O1DS6OR2BOrXxiFlX3H6lr6xqsw2GUVj7lKvcv1s0FontX1mty2gODR9foXfCwRYwGChRz8_uG5LiYWEQD83eTb97kOgVlaKCkGFOnl9EjwAdZ2QN6ZyyBjf6rITeUTLlQzhWMKfsXqFiyIbo7DwVqniNZGBG0wcSI0DCdJDlPkXDT-wDmAADMrDLIXjQ7ZZMNMxi5YOEOoXqy9iKvvQOLH312YmiOzaGjNTG5vGMxQFObQvLVuSdVMR8tM1gAilk-YfWkXlxyGNnUdbxdu7X_CkFyeXaIYTZ62RK1geqSMIX9-3TtcHAyA1LFKgaUIgF0tNZrMmWwqQVM1Vxz=w743-h615-no)"></div>
								</div>
								<div class="bio">
									BIO
								</div>
							</div>
						</div>

						<div class="thumb col-sm-4">
							<div class="inner">
								<div class="img-container">
									<div class="img" style="background-image: url(https://lh3.googleusercontent.com/lr/AGWb-e6T1afdURyPVBVGf4ILs8FbKeVjBwUwpPDFzPmKYHowScsajY0rwi2zvj3_I_AoZxE-yc5Ema3uB2zEDLp1PGZiSJCx64gBqpxgpU-MoDDnIi5VgAuSu7uxGFmvAvndtF6bPKzCOg2bSaDHGYkCpCcHv-OrJS_AuKy55yDNEOdObJG7XdfhzGuz3jzgiRPgj5I7bRVxy2NMXlhvvvk8jR_jI5_4n0-maOJLhLWIrP738TF0wTKlt_MN9fTTEqw_PNIQMymLL3zaPsRl7qVKYuR_1L2Js_skrMsIHjTLlgdTxhC5-u3rJRJheQ-xhyb_2c0-T-dyCp_9VKqprUgMnhLN3RNfCWfsfRLoCNQgzjgjsosDj9Ys71xi_XHx8Bovixc9k4WMlDA5UBRbsQ5PpPmt-GG8VGaMySXWnpggvcWn559pv_Guk4KyIDTbh-PKv7AVWzzeSE1yJle_BFGymQU2hROLg07Oxij--UEuqH40q8qRKVk8RH5cIvybTA5Qn-Gc7nkogCElNUJMp93Rknz-CMo92atumM6ErDCs3pZ8dqejiz85fehf2BTPKvC_nuoSMxRE3FDTG-lalaMFrSYxeepSUeYbLZG9az6aVW0AO9AcQyWG3R1VZoFl2wWOYM9_fCwxOxwWbiUDIMIqpWMsu9MLhf7l_uQ7WiQ3vCDcsC7XvGpAlSUT86pV7BBRPLR6yYI1yb9SYj2FL4hj8zXyy1RUO42QjQc0vcxGcn9WPYNawZHtOLq_GcABNsEr-44pGwLtjaSpaSRtGvTNCA3nUlFH4S-DOFmw_Vzofez__WqiuA_AS9DU0Elmu_T1XjfqeBsEKjjrK7EhlM4GvOSjdpK-wl4yeaefqhZ5STeLibelcGsdv5FUH1WXPVOFjMzwnZVpig5AWpPTSMTs8xKQlw=w800-h800)"></div>
								</div>
								<div class="bio">
									BIO
								</div>
							</div>
						</div>

						<div class="thumb col-sm-4">
							<div class="inner">
								<div class="img-container">
									<div class="img" style="background-image: url(https://lh3.googleusercontent.com/E7JhPoCmPt8145pda5djcQWFu2DbgB63_LeMm0awxMaxqQlKFS2CCxhCDlYeP_0p7udZYlS3EwfwNxNK4wdTRaa7u36P9a2gQHOk9VHjdACoGur2otfDlViqPDRypTZFx5yLYktJ--Sd6mXelRNG4FZiQVNZfspqAfx4WrL64M1TU_Qa5ZWPaeF9BZb5rHmPruhmIBRBO0Ehm2Is0flXfc5YjWfuM1s-9YVL46Nx4N5Zz-bp0sUiQ93MBjNsXhgmKrbafN4ZVml50ZfQAgMmH_XVaMQOE2mZD09G-bg2rjIqqi7cOJFlf0NHQgh42uz-NtrOMxugw1TapHwjWuglozDg1thkv_H4EgwrGHYfCgsET0fQAytjfZkI5CympJ1iVTybgsg2GOoI1fM-X5482PbOnYvqvB1T-zta4aK5M4l6JZGrc6WzEV7IkVYVC48TlLAXFDfqPxWVDAHusbz_UiZPDlDWu2vF9DT3nKgysvevtRqnvoMwCzRW93m9MsQSB23rZ206pH5lsIx--Fa6skldvwO1_v53dI7uiAyByVU5BJkghDD74lb7ZhJcbqyhgdYx1yRRzHliYyWM41L82HSCz0K9WERUpKbJQjkI4dXY4h4JnHp6HhTGWHTs7Cgbah9XOIj_3mCj8l0L4ZFPamKElUu75JhwFULM0Pg_OXIYnXNderD5=w400-h657-no)"></div>
								</div>
								<div class="bio">
									BIO
								</div>
							</div>
						</div>

						<div class="thumb col-sm-4">
							<div class="inner">
								<div class="img-container">
									<div class="img" style="background-image: url()"></div>
								</div>
								<div class="bio">
									BIO
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="ethics">
			<div class="container">
				<div class="row">
					<h2> CODE OF ETHICS / CONDUCT</h2>
					<p> [insert text here] </p>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<div class="row">
			<div class="container socials">
				<i class="fab fa-instagram"></i>&emsp;
				<i class="fab fa-twitter"></i>&emsp;
				<i class="fab fa-facebook"></i>
			</div>
		</div>
		<div class="row">
			<div class="container download-links">
				<i class="fab fa-apple"></i>&emsp;
				<i class="fab fa-android"></i>
			</div>
		</div>
		<div class="row">
			<div class="container copyright disclaimer">&copy; iConcord Inc. 2019</div>
		</div>
	</footer>

</body>
</html>